<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <Grid
      ref="grid"
      :style="{height: '440px'}"
      :data-items="gridData"
      :edit-field="'inEdit'"
      @edit="edit"
      @remove="remove"
      @save="save"
      @cancel="cancel"
      @itemchange="itemChange"
      :columns="columns"
    >
      <GridToolbar>
        <button title="Add new" class="k-button k-primary" @click="insert">Add new</button>
        <button
          v-if="hasItemsInEdit"
          title="Cancel current changes"
          class="k-button"
          @click="cancelChanges"
        >Cancel current changes</button>
      </GridToolbar>
    </Grid>
  </div>
</template>

<script>
import Vue from "vue";
import DropDownCell from "./components/DropDownCell.vue";
import CommandCell from "./components/CommandCell.vue";
import "@progress/kendo-theme-material/dist/all.css";
import { Grid, GridToolbar } from "@progress/kendo-vue-grid";

export default {
  name: "app",
  components: {
    Grid,
    GridToolbar
  },
  data: function() {
    return {
      updatedData: [],
      editID: null,
      group: [{ field: "UnitsInStock" }],
      expandedItems: [],
      columns: [
        { field: "ProductID", editable: false, title: "ID", width: "50px" },
        { field: "ProductName", title: "Name" },
        {
          field: "FirstOrderedOn",
          editor: "date",
          title: "First Ordered",
          format: "{0:d}"
        },
        {
          field: "UnitsInStock",
          title: "Units",
          width: "150px",
          editor: "numeric"
        },
        {
          field: "Discontinued",
          title: "Discontinued",
          cell: DropDownCell.render
        },
        { cell: CommandCell.render, width: "180px" }
      ],
      gridData: [
        {
          ProductID: 1,
          ProductName: "Chai",
          UnitsInStock: 39,
          Discontinued: false,
          FirstOrderedOn: new Date(1996, 8, 20)
        },
        {
          ProductID: 2,
          ProductName: "Chang",
          UnitsInStock: 17,
          Discontinued: false,
          FirstOrderedOn: new Date(1996, 7, 12)
        },
        {
          ProductID: 3,
          ProductName: "Aniseed Syrup",
          UnitsInStock: 13,
          Discontinued: false,
          FirstOrderedOn: new Date(1996, 8, 26)
        },
        {
          ProductID: 4,
          ProductName: "Chef Anton's Cajun Seasoning",
          UnitsInStock: 53,
          Discontinued: false,
          FirstOrderedOn: new Date(1996, 9, 19)
        }
      ]
    };
  },
  computed: {
    hasItemsInEdit() {
      return this.gridData.filter(p => p.inEdit).length > 0;
    }
  },
  methods: {
    itemChange: function(e) {
      const updatedData = this.gridData.slice();

      const item = this.update(updatedData, e.dataItem);
      Vue.set(item, e.field, e.value);
      this.gridData = updatedData;
    },
    insert() {
      const dataItem = { inEdit: true, Discontinued: false };
      const newproducts = this.gridData.slice();
      newproducts.push(dataItem);
      this.update(newproducts, dataItem);
      this.gridData = newproducts;
    },
    edit: function(e) {
      Vue.set(e.dataItem, "inEdit", true);
    },
    save: function(e) {
      if (!e.dataItem.ProductID) {
        Vue.set(e.dataItem, "ProductID", this.generateID());
      }
      Vue.set(e.dataItem, "inEdit", undefined);
    },
    generateID() {
      let id = 1;
      this.gridData.forEach(p => {
        if (p.ProductID) id = Math.max(p.ProductID + 1, id);
      });
      return id;
    },
    update(data, item, remove) {
      let updated;
      let index = data.findIndex(
        p =>
          JSON.stringify({ ...p }) === JSON.stringify(item) ||
          (item.ProductID && p.ProductID === item.ProductID)
      );
      if (index >= 0) {
        updated = Object.assign({}, item);
        data[index] = updated;
      }

      if (remove) {
        data = data.splice(index, 1);
      }
      return data[index];
    },
    cancel(e) {
      if (e.dataItem.ProductID) {
        Vue.set(e.dataItem, "inEdit", undefined);
      } else {
        this.update(this.gridData, e.dataItem, true);
      }
    },
    remove(e) {
      e.dataItem.inEdit = undefined;
      this.update(this.gridData, e.dataItem, true);
    },
    cancelChanges(e) {
      let editedItems = this.gridData.filter(p => p.inEdit === true);

      for (let i = 0; i < editedItems.length; i++) {
        this.update(this.gridData, editedItems[i], true);
      }
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
